<%= form_for(npc) do |f| %>
  <% if npc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(npc.errors.count, "error") %> prohibited this npc from being saved:</h2>

      <ul>
      <% npc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :alignment %>
    <%= f.select :alignment, options_for_select([['Random', ''], ['Lawful Good', 'LG'], ['Neutral Good', 'NG'], ['Chaotic Good', 'CG'], ['Lawful Neutral', 'LN'], ['True Neutral', 'N'], ['Chaotic Neutral', 'CN'], ['Lawful Evil', 'LE'], ['Neutral Evil', 'NE'], ['Chaotic Evil', 'CE']]) %>
  </div>

  <div class="field">
    <%= f.label :sex %>
    <%= f.select :sex, options_for_select([['Random', ''], ['Male', 'Male'], ['Female', 'Female']]) %>
  </div>

  <div class="field">
    <%= f.label :rpgclass %>
    <%= f.select :rpgclass, options_for_select([['Random', ''], ['Alchemist'], ['Barbarian'], ['Bard'], ['Cleric'], ['Druid'], ['Fighter'], ['Monk'], ['Paladin'], ['Ranger'], ['Rogue'], ['Sorcerer'], ['Wizard'], ['Adept'], ['Aristrocrat'], ['Commoner'], ['Expert'], ['Warrior']]) %>
  </div>

  <div class="field">
    <%= f.label :haircolor %>
    <%= f.select :haircolor, options_for_select([], selected: params[:haircolor]),
        prompt: "Random", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :eyecolor %>
    <%= f.select :eyecolor, options_for_select([], selected: params[:eyecolor]),
        prompt: "Random", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :skincolor %>
    <%= f.select :skincolor, options_for_select([], selected: params[:skincolor]),
        prompt: "Random", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="field">
    <%= f.label :level %>
    <%= f.number_field :level %>
  </div>

  <div class="field">
    <%= f.label :height %>
    <%= f.number_field :height %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.number_field :weight %>
  </div>

  <div class="field">
    <%= f.label :race_id %>
    <%= f.collection_select(:race_id, Race.all, :id, :name, prompt: "Random") %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
