<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @npc.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @npc.nickname %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @npc.surname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @npc.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @npc.sex %>
</p>

<p>
  <strong>Haircolor:</strong>
  <%= @npc.haircolor %>
</p>

<p>
  <strong>Eyecolor:</strong>
  <%= @npc.eyecolor %>
</p>

<p>
  <strong>Skincolor:</strong>
  <%= @npc.skincolor %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @npc.notes %>
</p>

<p>
  <strong>Level:</strong>
  <%= @npc.level %>
</p>

<p>
  <strong>Height:</strong>
  <%= @npc.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @npc.weight %>
</p>

<%= link_to 'Edit', edit_npc_path(@npc) %> |
<%= link_to 'Back', npcs_path %>
